
/*commun*/
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #8f1433;
}


/*index des question pour les document à avoir*/


.choix{
    position: relative;
    left: 0vw;

}















/*index du tuto*/



#book{
    position: relative;
    width: 100vw;          
    height: 100vh;
    margin-left: 5vh;

}







.my-page{
    background:rgba(255, 255, 255, 0);
    margin: 10px;


}

#top{
    margin-top: 50px;
}


.my-page img{
    width:75vw;
    height:100%;
    object-fit: contain;
}

